.avtar{
    border-radius: 50%;
    width: 60%;
    height: 50%;
    margin-left: 24%;
}
.header{
    background-color: #B522E2;
    color: white;
    font-size: 30px;
}
main{
    color: white;
    background-color: black;
    padding-top: 20%;
    padding-bottom: 100vh;
    margin-right:0;
    margin-left: 0;
}
.p{
    font-size:2em;
    margin-left:23%;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.list{
    margin-left: 25%;
    border-left: 8px solid white;
    padding-bottom: 70vh;
    list-style-type: none;
}
li{
    font-size: 1.5em;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.type{ 
    font: bold 5.5vw Consolas, Monaco, monospace;
    border-right: .1em solid white;
	width: 16.5em; 
	width: 17ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8s steps(17, end),blink-caret .5s step-end infinite alternate;
}
.fa-bars{
    color: white;
    font-size:60px;

}
@media only screen and (min-width: 768px) {
    .fa-bars{
        visibility: hidden;
    }
    .list{
        font-size: 5vh;
    }
    main{

        padding-top: 0;

    }
    .p{
        font-size: 5vh;
    }
    .header{
        background: black url('webTemplates/img/nav.svg') no-repeat top;
        padding-bottom: 11%;
        background-size:113%;
    }
    
  }
