html,body{
    margin:0;
    scroll-behavior: smooth;
    height:100%;
 
    
}

#content{
    font-size: 20px;
}

#about{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.logo{
    font-size: 30px;
}

.nav-item:hover{
    background-color: rgb(253, 253, 253);
}
#about{
    
    margin-bottom: 0;
    background-image: url("https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    
}
.img1{
    opacity:0.85;
    margin-bottom: 0px;

    object-fit: cover;
    height:100%;

}
<<<<<<< HEAD
=======
.section1{
    background-image: url("https://images.pexels.com/photos/6356/hands-woman-laptop-working.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-attachment: fixed;
    background-size: cover;
    position:relative;
    min-height: 100vh;
>>>>>>> 1ba476586d8ca142b8739704bca5f8e39ef2f0fa

.foot{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0;
}

.card{
    margin-left: 10px;
    margin-bottom: 10px;
}
.backi{
    min-height: 100vh;
}
.img-text{
    padding-top: 50vh;
    padding-left: 15vw;
    color:white;
}
.navbar-brand:hover{
    background-color: rgb(253, 253, 253);
}
#avtar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.fa{
    color: white;
}
.handle{
    font-size: 23px;
    text-align: center;
}
@media screen and (max-width:768px){
    .apse{
        display: none;
    }
}
.bt:hover{
    background-color: #05386B;
}
.bt{
    border: 2px solid #05386B;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.skill-box{
    width:80%;
    height:60%;
    margin-bottom: 40%;
    margin-left: 10%;
    color:greenyellow;
    font-family: 'Tillana', cursive;
}
/* {box-sizing:border-box}*/

.container {
  width: 100%;
  background-color:transparent; 
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px; 
  color:black
}

.html {width: 90%; background-color :greenyellow;} /* Green */
.css {width: 80%; background-color :greenyellow;} /* Blue */
.js {width: 65%; background-color :greenyellow;} /* Red */
.php {width: 60%; background-color :greenyellow;} /* Dark Grey */
.avtar{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}
.header{
    background-color: #B522E2;
    color: white;
    font-size: 30px;
}
main{
    color: white;
    background-color: black;
    padding-top: 80px;
}
.pro{
    margin-left:30%;
}
caption{
    font-size: 30px;
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.type{ 
	font: bold 4.5vw Consolas, Monaco, monospace;
	border-right: .1em solid white;
	width: 16.5em; 
	width: 25ch;
	white-space: nowrap;
	overflow: hidden;
<<<<<<< HEAD
	-webkit-animation: typing 8.5s steps(25, end),blink-caret .5s step-end infinite alternate;
}
.dropdown-content{
    display:none;
}
.dropdown:hover .hoverd{
    display:none;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.sidenav {
    height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .nav-btn{
    margin-left: 93vw;
  }
  .hoverd{
      display:;
  }
  .snav{
      cursor: pointer;
      margin-left: 95vw;
      top:50vh;
      position: fixed;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 15vw;
  }
  
  div.gallery:hover {
    border: 1px solid greenyellow;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: whitesmoke;
  }
=======
	-webkit-animation: typing 8.5s steps(24, end),blink-caret .5s step-end infinite alternate;
}
>>>>>>> 1ba476586d8ca142b8739704bca5f8e39ef2f0fa
