html,body{
    margin:0;
    scroll-behavior: smooth;
    height:100%;
 
    
}

#content{
    font-size: 20px;
}

#about{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.logo{
    font-size: 30px;
}

.nav-item:hover{
    background-color: rgb(253, 253, 253);
}
#about{
    
    margin-bottom: 0;
    background-image: url("../img/bg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    
}
.img1{
    opacity:0.85;
    margin-bottom: 0px;

    object-fit: cover;
    height:100%;

}
.section1{
    background-image: url("/img/skill-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    position:relative;
    min-height: 100vh;

}
.foot{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0;
}

.card{
    margin-left: 10px;
    margin-bottom: 10px;
}
.backi{
    background-color:black;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.img-text{
    padding-top: 50vh;
    padding-left: 15vw;
    color:white;
}
.navbar-brand:hover{
    background-color: rgb(253, 253, 253);
}
#avtar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.fa{
    color: white;
}
.handle{
    font-size: 23px;
    text-align: center;
}
@media screen and (max-width:768px){
    .apse{
        display: none;
    }
}
.bt:hover{
    background-color: #05386B;
}
.bt{
    border: 2px solid #05386B;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.skill-box{
    width:80%;
    height:60%;
    margin-bottom: 80%;
    margin-left: 10%;
    border: 5px solid ;
    color:white;;
    font-family: 'Tillana', cursive;
}
/* {box-sizing:border-box}*/

.container {
  width: 100%;
  background-color:transparent; 
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 90%; background-color :greenyellow;} /* Green */
.css {width: 80%; background-color :greenyellow;} /* Blue */
.js {width: 65%; background-color :greenyellow;} /* Red */
.php {width: 60%; background-color :greenyellow;} /* Dark Grey */
.avtar{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}
.header{
    background-color: #B522E2;
    color: white;
    font-size: 30px;
}
main{
    color: white;
    background-color: black;
    padding-top: 80px;
}
.pro{
    margin-left:30%;
}
caption{
    font-size: 30px;
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.type{ 
	font: bold 4.5vw Consolas, Monaco, monospace;
	border-right: .1em solid white;
	width: 16.5em; 
	width: 24ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8.5s steps(24, end),blink-caret .5s step-end infinite alternate;
}